<html> 
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" type="text/css" href="../static/index.css">




	</head>
	
	<body>
        <audio controls autoplay>
          <source src="pitch.wav" type="audio/wav">
        </audio>



        <form class="grid" action="/converter" method="POST">

          <center>
            <h1 style="color: black;" class="let_space">WAV file converter</h1>
          </center> 

          {% if converted %}
            <center>
              <h1 style="color: red;" class="let_space">WAV is generated!!</h1>
            </center> 

          {% endif %}

          

          <center><input class="file_submit" type="Submit"></center>

        </form>

        <form class="grid" action="/filter" method="POST">

          <center>
            <h1 style="color: black;" class="let_space">Audio filter</h1>
          </center> 

          {% if low %}
            <center>
              <h1 style="color: red;" class="let_space">Filter keep bandwith from {{low}} Hz to {{high}} Hz!!</h1>
            </center> 

          {% endif %}
           
          <label for="low">Enter you low band:</label>
          <input type="text" id="low" name="low">
          <label for="high">Enter you high band:</label>
          <input type="text" id="high" name="high">

          <center><input class="file_submit" type="Submit"></center>

        </form>

        <form class="grid" action="/pitch" method="POST">

          <center>
            <h1 style="color: black;" class="let_space">Audio pitch modifier</h1>
          </center> 
          
          {% if pitch %}
            <center>
              <h1 style="color: red;" class="let_space">Change frequency of {{pitch}} Hz!!</h1>
            </center>

          {% endif %}
           
          <label for="pitch">Enter you pitch:</label>
          <input type="text" id="pitch" name="pitch">

          <center><input class="file_submit" type="Submit"></center>

        </form>
        
        <br>
        <br>
        <br>


    </body>

</html>